<div class="jumbotron text-center">
    <h1>Welcome to my Pintrstd app!</h1>
    <p>Pretty cool, don't you think?</p>

    <% unless user_signed_in? %>
        <%= link_to "Login", user_session_path, class: "btn btn-default" %>
        <%= link_to "Join", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to "All Pins", pins_path, class: "btn btn-primary" %>
    <% end %>
</div>
