<div class="jumbotron">
    <h1>Welcome to my Pinterested app!</h1>
    <p>Pretty cool, don't you think?</p>

    <%= link_to "Login", "#", class: "btn btn-default" %>
    <%= link_to "Join", "#", class: "btn btn-primary" %>
</div>
